.music_left{
  background-color: #fff;
}
.deLogin{
  margin-top: 30px;
  padding: 20px;
}
.user_title_img{
  padding: 4px;
  border: 1px solid #716f6f;
  border-radius: 80%;
}
.xinxi{
  text-align: center;
  position: relative;
}
.tuichu{
  position: absolute;
  top: 2px;
  right: 2px;
}
.on_list{
  position: relative;
}
.on_list ul{
  padding: 0px;
}
.on_list ul li{
  list-style:none;
  height: 30px;
  line-height: 30px;
}
.li_left_margin{
  padding-left: 20px;
  float: left;
  height: 28px;
  width: 80%;
  text-align: left;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.on_zhengzaibf{
  background-color: lightgray;
}