.music_left{
  background-color: #fff;
  float: left;
  width: 200px;
  height: 100%;
}
.deLogin{
  margin-top: 30px;
  padding: 20px;
}
.user_title_img{
  padding: 4px;
  border: 1px solid #716f6f;
  border-radius: 80%;
}
.xinxi{
  text-align: center;
  position: relative;
}
.tuichu{
  position: absolute;
  top: 2px;
  right: 2px;
}
.on_list{
  position: relative;
}
.on_list ul{
  padding: 0px;
}
.on_list ul li{
  list-style:none;
  height: 30px;
  line-height: 30px;
}
.li_left_margin{
  padding-left: 20px;
  float: left;
  height: 28px;
  width: 80%;
  text-align: left;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.on_zhengzaibf{
  background-color: lightgray;
}
.geshou_list{
  width: 888px;
}
.geshou_list li{
  width: 130px;
  height: 154px;
  float: left;
  margin-right: 18px;
  list-style: none;
  margin-bottom: 30px;
}
.geshou_list li img{
  width: 130px;
  height: 130px;
}
.music_details{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow-y:scroll;
}
.music_details::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
.music_details::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.music_details::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.music_details_content{
  width: 1200px;
  margin: auto;
  background-color: #fff;
  padding: 0px 20px;
}
.details_title{
  width: 100%;
  text-align: center;
}
.close_details{
  position: fixed;
  right: 30px;
  top: 30px;
  cursor:pointer;
}
.autoplay_content{
  width: 1200px;
  position: fixed;
  bottom:0px;
}
.autoplay_class:hover .music_details_on,.music_details_on:hover{
  display: block;
}
.music_details_on{
  display: none;
  position: absolute;
  left: -86px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  top: 5px;
}
.f-alpha{
  position: absolute;
  display: block;
  width: 206px;
  height: 205px;
  top: -4px;
  left: -4px;
  background: url('../../assets/images/coverall.png') no-repeat;
}
.f-alpha_img{
  width: 132px;
  height: 132px;
  border-radius: 80%;
  position: absolute;
  top: 33px;
  left: 33px;
  overflow: hidden;
}
.f-alpha_img_on{
  width: 132px;
  height: 132px;
  border-radius: 80%;
  position: absolute;
  top: 33px;
  left: 33px;
  animation:change 24s linear infinite;
  overflow: hidden;
}
@-webkit-keyframes change{  
  from{  
      -webkit-transform:rotate(0deg);  
  }  
  to{  
      -webkit-transform:rotate(360deg);  
  }  
}
.title_f-alpha{
  width:206px;
  height: 206px;
  position: relative;
}
.autoplay_class{
  margin: auto;
  width:1200px;
  position: relative;
}
.music{
  margin: auto;
  text-align: center;
}
.music_title{
  height: 50px;
  line-height: 50px;
  display: flex;
}
.music_search{
  width: 100%;
}
.on_aplayer{
  cursor:pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  display: none;
  z-index: 2;
}
.autoplay_class:hover .on_aplayer{
  display: block;
}
.autoplay_a{
  margin: auto;
  position: fixed;
  bottom: 0px;
  cursor:pointer;
}
.pinglun{
  width: 100%;
  text-align: center;
}
.pinglun img{
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.pinglun span{
  float: left;
  color: #0c73c2;
}
.pingli{
  display: inline-block;
  width: 100%;
  padding: 15px 0px;
  border-top: 1px dotted #ccc;
}
.pinglun_content{
  padding-left: 60px;
  padding-right: 10px;
}
.pinglun_content p{
  text-indent: 4px;
  text-align: left;
  line-height: 20px;
}
.s-fc3, a.s-fc3:hover {
  color: #666;
}
.f-pr {
  position: relative;
  zoom: 1;
}
.f-brk, .cmmts .cnt.f-brk {
  word-break: break-word;
}
.que .darr {
  position: absolute;
  top: -7px;
  left: 20px;
  font-size: 12px;
  line-height: 14px;
}
.que {
  padding: 8px 19px;
  margin-top: 10px;
  line-height: 20px;
  background: #f4f4f4;
  border: 1px solid #dedede;
  text-align: left;
}
.s-fc7, a.s-fc7:hover {
  color: #0c73c2;
}
.darr i {
  position: absolute;
  top: 0;
  left: 0;
}
.darr .bd {
  color: #dedede;
}
.darr .bg {
  top: 1px;
  color: #f4f4f4;
}
.u-hd4 {
  position: relative;
  top: 1px;
  height: 20px;
  border-bottom: 1px solid #cfcfcf;
  text-align: left;
}