.header-left>i {
  color: #EC3063;
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: .4rem;
}

.header-left>p {
  font-size: 3.4rem;
}

.singerlist {
  font-family: SourceHanSansSC;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.search_btn {
  background: url('../../images/search_icon.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  height: 3.34rem;
  width: 3.34rem;
  cursor: pointer;
  margin-left: 1rem;
}

.search{
  display: flex;
}

.songerlist_ul>li>img{
  max-width: 100%;
}

.songerlist_ul{
  display: flex;
  flex-wrap: wrap;
}

.songerlist_ul>li{
  flex: 0 1 20%;
}

.songer_div{
  overflow: hidden;
  position: relative;
}