.music_footer{
  height: 120px;
  background-color: #eee;
  position: fixed;
  bottom: 74px;
  right: -94%;
  width: 100%;
  transition: all .6s;
  text-align: center;
}
.music_footer:hover,.music_list:hover{
  right: 0;
  display:inline-block;
  .music_list{
    display: inline-block;
  }
}
.music_content{
  width: 1200px;
  margin: auto;
  background-color: #d3d3d3;
  padding: 10px;
  height: 100%;
  float: left;
}
.music_icon_left{
  float: left;
  width: 60px;
  height: 120px;
  line-height: 120px;
}
@keyframes anima-pointer
{
  0%{opacity:0;left:20px}
  100%{opacity:1;left:0px;}
}
.music_icon_left p{
  animation: anima-pointer 2s infinite;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 120px;
  width: 60px;
  background: url("../../assets/images/index_01.png") no-repeat;
  background-position: center center;
}
.music_list{
  position: fixed;
  right: 0;
  top: 64px;
  transition: all .6s;
  display: none;
  height: 700px;
  padding: 20px;
  width: 400px;
}

@keyframes anima
{
  0%{opacity:0;top:84px}
  100%{opacity:1;top:64px;}
}
.music_body::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
.music_body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.music_body::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.music_body{
  height:660px;
  overflow-y:scroll;
  width: 360px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.icon_music_list{
  width: 100px;
  background-color: blue;
  height: 100%;
  float: left;
}
.musci_title_img{
  float: left;

}
.music_body ul li{
  height: 28px;
  line-height: 28px;
  background-color: azure;
  list-style: none;
}
.li_left_margin{
  padding-left: 20px;
  float: left;
  height: 28px;
  width: 188px;
  text-align: left;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.on_zhengzaibf{
  background-color: lightgray;
}
.music_jindu{
  width: 1000px;
  float: left;
  position: relative;
}
.music_show{
  background-color: #eee;
  border-bottom: 1px solid #d3d3d3;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.music_show p{
  float: left;
  width: 80%;
  height: 30px;
  line-height: 30px;
}
.music_show p:nth-child(2){
  width: 20%;
}
.music_search{
  display: inline-block;
  width: 100%;
  padding: 10px;
}